.slider-frame {
  width: 100vw;
  max-width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.slider-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.slider-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  will-change: transform;
}

.slider-image-info {
  line-height: 1.2;
  position: absolute;
  display: block;
  flex-direction: column;
  left: 2rem;
  bottom: 1rem;
  color: white;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.slider-image-name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}

.image-image-description {
  font-size: 1rem;
  font-style: italic;
}

.slider-navigation-button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(51, 51, 51, 0.3);
  border: none;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-navigation-button i {
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 1rem;
  transition: transform 0.6s ease;
}

.slider-navigation-button:hover i {
  transform: rotateX(360deg); /* 2 tours sur l'axe X */
  cursor: pointer;
}

.prev-button {
  left: 2rem;
}

.next-button {
  right: 2rem;
}

/* Dots de nagivation */

.slider-dots-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.slider-dot {
  width: 12px;
  height: 12px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.slider-dot.passive {
  background-color: transparent; /* Fond blanc pour la boule active */
  transform: scale(1.2); /* Légèrement agrandie */
  cursor: pointer;
}

.slider-dot.passive:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.4
  ); /* Fond plus opaque (60%) au survol */
  cursor: pointer;
}

.slider-dot.active {
  background-color: white; /* Fond blanc pour la boule active */
  transform: scale(1.2); /* Légèrement agrandie */
  cursor: pointer;
}

//Bouton chevron bas

.slider-down-button-container {
  position: absolute;
  display: block;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%); /* Centre parfaitement le conteneur */
  z-index: 99;
}

.slider-down-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out; /* Transition fluide pour d'autres changements */
  z-index: 99;
}

.slider-down-button:hover {
  animation: shakeY 1s ease-in-out; /* Applique l'animation verticale au survol */
}

@keyframes shakeY {
  0%,
  100% {
    transform: translateY(0); /* Position initiale */
  }
  25% {
    transform: translateY(-5px); /* Déplace légèrement vers le haut */
  }
  50% {
    transform: translateY(5px); /* Déplace légèrement vers le bas */
  }
  75% {
    transform: translateY(-5px); /* Retourne légèrement vers le haut */
  }
}

.slider-down-button img {
  width: 45px; /* Taille du chevron */
  height: auto;
  cursor: pointer;
}

// Responsive mobile
@media screen and (max-width: 760px) {
  .slider-frame {
    height: 500px;
  }

  .slider-image-info {
    line-height: 1.2;
    position: absolute;
    display: block;
    flex-direction: column;
    left: 1rem;
    bottom: 0;
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .slider-image-name {
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 0;
  }

  .slider-image-description {
    font-size: 0.75rem;
    font-style: italic;
  }

  .slider-down-button-container {
    display: none;
  }
}

// Responsive tablette
@media screen and (min-width: 761px) and (max-width: 1080px) {


}

// Responsive desktop laptop
@media screen and (min-width: 1081px) and (max-width: 1240px) {


}

// Responsive desktop screen
@media screen and (min-width: 1241px) {
  .slider-frame {
    height: 750px;
  }

}
