.missions-title {
  font-size: 32px;
}

.missions-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.missions-intro {
  text-align: center;
  font-size: 32px;
}

.missions-secContent {
  display: grid; /* Active le mode Grid */
  grid-template-rows: repeat(3, 1fr); /* 3 lignes égales */
  grid-template-rows: 1fr; /* 1 colonne */
  gap: 1.5rem; /* Espacement entre les éléments */
  padding: 1rem; /* Espacement interne autour de la grille */
  width: 100%; /* Largeur complète */
  margin: 0 auto; /* Centre la grille horizontalement */
  text-align: center; /* Centre le texte dans chaque cellule */
}

.missions-row {
  background-color: #f5f5f5; /* Couleur de fond légère */
  padding: 1rem; /* Espacement autour du texte */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre */
  font-size: 1rem; /* Taille de police */
  font-weight: 500; /* Épaisseur de la police */
  color: #333; /* Couleur du texte */
  text-align: left;
}

.missions-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Aligne le haut du texte et de l'image */
}

.accordion-content-text {
  flex: 3; /* Le texte occupe 3 parts */
  background-color: transparent;
}

.accordion-content.visible {
  display: flex;
  max-height: 1000px; /* Ajuste selon le contenu */
}

.chevron-icon {
  transition: transform 0.3s ease;
  width: 40px; /* Ajuste la taille selon tes besoins */
  height: auto;
  margin-right: 2rem;
}

.chevron-icon.rotate {
  transform: rotate(180deg);
}

.accordion-content-image {
  flex: 1; /* L'image occupe 1 part */
  background-color: transparent;
  margin-right: 0;
}

.accordion-content-image img {
  max-width: 80%; /* Pour s'assurer que l'image s'adapte */
  height: auto;
  border-radius: 2px;
  margin-bottom: 2rem;
  margin-left: 4rem;
}
