@charset "UTF-8";
.missions-container {
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
  scroll-margin-left: 2rem;
}

.missions-intro {
  text-align: justify;
  padding-bottom: 5rem;
}

.missions-intro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.missions-intro-grid2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.missions-intro-text-div {
  padding-top: 0;
  padding-right: 1rem;
  margin-top: 0;
  margin-right: 1rem;
}

.missions-intro-text-div :nth-child(1) {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #111;
}

.missions-intro-text-div p:nth-child(2) {
  margin-bottom: 1rem;
}

.missions-intro-text-div p:nth-child(3) {
  margin-bottom: 1rem;
}

.missions-intro-text-div p:nth-child(4) {
  font-size: 1.2rem;
  font-weight: 500;
  color: #111;
}

.missions-task-list-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  text-align: left;
}

.missions-task-list-left {
  border-right: 2px solid #333;
}

.missions-task-list-right {
  margin-left: 2rem;
}

.missions-task-list-div li {
  margin: 2rem;
  width: -moz-fit-content;
  width: fit-content;
}

.missions-task-list-div li:nth-child(1) {
  margin-top: 0;
}

.missions-task-list-div li:nth-child(5) {
  margin-bottom: 0;
}

.missions-task-list-div i {
  color: #000000;
  margin-right: 1rem;
}

.missions-secContent {
  display: grid; /* Active le mode Grid */
  grid-template-rows: repeat(3, 1fr); /* 3 lignes égales */
  grid-template-rows: 1fr; /* 1 colonne */
  gap: 1.5rem; /* Espacement entre les éléments */
  width: 100%; /* Largeur complète */
  text-align: center; /* Centre le texte dans chaque cellule */
  align-items: center;
}

.missions-row {
  padding: 1rem; /* Espacement autour du texte */
  border-radius: 2px; /* Coins arrondis */
  font-size: 1rem; /* Taille de police */
  font-weight: 500; /* Épaisseur de la police */
  color: #333; /* Couleur du texte */
  text-align: left;
  border: 0.5px solid #ddd;
}

.missions-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.missions-accordion-content {
  max-height: 0;
  overflow: hidden;
  grid-template-columns: 3fr 1fr; /* Colonne texte (3 parts), images (1 part) */
  display: grid;
  gap: 1rem;
}

.missions-accordion-content-text {
  flex: 2; /* Le texte occupe 3 parts */
  color: #333;
  line-height: 1.6; /* Espacement entre les lignes */
  padding: 1rem; /* Espacement interne */
}

.missions-accordion-header .sub-2 {
  margin-left: 1rem;
}

.missions-accordion-content-text .sub-2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid #e0e0e0; /* Ligne décorative */
  padding-bottom: 0.5rem;
}

.missions-accordion-content-text h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.missions-accordion-content.visible {
  display: flex;
  max-height: 1500px; /* Ajuste selon le contenu */
}

.missions-paragraph-group {
  margin-bottom: 1rem;
}

.missions-paragraph-group p {
  margin: 0;
}

.missions-accordion-content-text ul {
  margin-left: 1.2rem;
  padding-left: 1rem;
  list-style: none;
}

.missions-accordion-content-text h4 {
  font-family: "DINPro";
  list-style-type: none;
  color: #111;
}

.missions-accordion-content-text li {
  margin-bottom: 0.8rem;
  position: relative;
  list-style-type: square;
}

.missions-chevron-icon {
  transition: transform 0.3s ease;
  width: 40px; /* Ajuste la taille selon tes besoins */
  height: auto;
  margin-right: 1rem;
}

.missions-chevron-icon.rotate {
  transform: rotate(180deg);
}

.missions-accordion-content-image {
  flex: 1; /* Les images occupent 1 part */
  display: grid;
  gap: 1rem; /* Espacement entre les images */
  padding-top: 5rem;
}

.missions-image-large {
  grid-column: 1/-1; /* Occupe toute la largeur */
}

.missions-image-large img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

.missions-image-small-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes pour les petites images */
  gap: 1rem; /* Espacement entre les colonnes */
}

.missions-image-small img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}/*# sourceMappingURL=Missions.css.map */