@charset "UTF-8";
.missions-container {
  margin-left: 2rem;
  margin-right: 2rem;
  overflow: hidden;
}

.missions-title {
  border-top: 2px solid black; /* Épaisseur et couleur du trait */
  font-family: "DinPro";
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.missions-intro {
  font-family: "DinPro";
  text-align: left;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.missions-intro p {
  font-family: "DinPro";
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8;
  color: #555;
}

.missions-secContent {
  display: grid; /* Active le mode Grid */
  grid-template-rows: repeat(3, 1fr); /* 3 lignes égales */
  grid-template-rows: 1fr; /* 1 colonne */
  gap: 1.5rem; /* Espacement entre les éléments */
  width: 100%; /* Largeur complète */
  text-align: center; /* Centre le texte dans chaque cellule */
  align-items: center;
}

.missions-row {
  background-color: #f5f5f5; /* Couleur de fond légère */
  padding: 1rem; /* Espacement autour du texte */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre */
  font-size: 1rem; /* Taille de police */
  font-weight: 500; /* Épaisseur de la police */
  color: #333; /* Couleur du texte */
  text-align: left;
}

.missions-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.missions-accordion-header h2 {
  font-family: "DinPro";
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  grid-template-columns: 3fr 1fr; /* Colonne texte (3 parts), images (1 part) */
  display: grid;
  gap: 1rem;
}

.accordion-content-text {
  flex: 2; /* Le texte occupe 3 parts */
  color: #333;
  line-height: 1.6; /* Espacement entre les lignes */
  padding: 1rem; /* Espacement interne */
}

.accordion-content-text h3 {
  font-family: "DinPro";
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  border-bottom: 2px solid #e0e0e0; /* Ligne décorative */
  padding-bottom: 0.5rem;
}

.accordion-content-text h4 {
  font-family: "DINPro";
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.accordion-content.visible {
  display: flex;
  max-height: 1500px; /* Ajuste selon le contenu */
}

.paragraph-group {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.paragraph-group p {
  font-family: "DINPro";
  font-weight: 300;
  margin: 0; /* Supprime les marges de toutes les balises <p> dans .paragraph-group */
}

.accordion-content-text ul {
  font-family: "DINPro";
  margin-left: 1.5rem; /* Décalage pour les listes */
  padding-left: 1rem;
  list-style: none; /* Supprime les puces */
}

.accordion-content-text h4 {
  font-family: "DINPro";
  list-style-type: none;
}

.accordion-content-text li {
  margin-bottom: 0.8rem;
  position: relative;
  font-weight: 300;
  list-style-type: square;
}

.chevron-icon {
  transition: transform 0.3s ease;
  width: 40px; /* Ajuste la taille selon tes besoins */
  height: auto;
  margin-right: 1rem;
}

.chevron-icon.rotate {
  transform: rotate(180deg);
}

.accordion-content-image {
  flex: 1; /* Les images occupent 1 part */
  display: grid;
  gap: 1rem; /* Espacement entre les images */
  padding-top: 5rem;
}

.image-large {
  grid-column: 1/-1; /* Occupe toute la largeur */
}

.image-large img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

.image-small-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes pour les petites images */
  gap: 1rem; /* Espacement entre les colonnes */
}

.image-small img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}/*# sourceMappingURL=Missions.css.map */