.header-container {
  background-color: #000000;
  font-size: 18px;
  display: flex; /* Utilisation de Flexbox */
  flex-direction: column;
  align-items: center; /* Centre verticalement les enfants */
  justify-content: space-between; /* Espace entre le logo et le menu */
  align-items: center;
  height: auto;
  width: 100%;
  padding: 10px 20px; /* Ajoute un peu de marge interne */
  z-index: 100;
  box-sizing: border-box; /* Inclut le padding dans la largeur */
  }

  .logo {
    font-size: 20px; /* Taille du logo */
    color: rgb(255, 255, 255);
    position: absolute; /* Positionne le logo indépendamment */
    left: 20px; /* Le colle à gauche avec un espace */
    cursor: pointer;
  }

  .header-content {
    display: flex;
    right: 20px;
    flex: 1;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-left: auto; /* Pousse le conteneur vers la droite */
  }

  .header-container h1 {
    color: rgb(255, 255, 255);
    margin: 10px 25px;
    padding: 5px;
    font-size: 24px;
    font-weight: 700;
  }

  .header-container h1:hover {
    text-decoration: underline;
    cursor: pointer;
  }
