.title {
  border-top: 2px solid black; /* Épaisseur et couleur du trait */
  font-family: "DinPro";
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.infos-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr; /* La 1ère colonne est 2 fois plus petite */
  gap: 2rem;
  background-color: transparent;
}

.about-grid-item {
  display: flex;
  flex-direction: column;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0; /* Padding en haut et en bas */
  width: 100%;
  height: calc(100% - 2rem); /* Soustraction du padding */
  overflow: hidden; /* Empêche le dépassement */
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Remplit l'espace sans déformer */
  border-radius: 2px;
}

.presentation-text {
  text-align: justify;
}

.CV {
  display: flex;
  flex-direction: column;
  padding: 1rem 0; /* Ajoute un peu d'espace en haut et en bas */
  overflow: hidden;
  gap: 3rem; /* Définit l'espacement vertical entre chaque .date */
}

.date {
  display: flex;
  align-items: center; /* Aligne verticalement si les éléments ont des hauteurs différentes */
  gap: 0.5rem; /* Espace entre l'année et le texte */
}

.year {
  font-weight: bold; /* Optionnel : mise en valeur de l'année */
  font-size: 1.2rem;
}

.description {
  font-style: normal; /* Optionnel : style distinct pour la description */
}

.main-infos .line1 {
  font-size: 1rem;
  font-family: "DINPro";
  font-weight: 300
}
.main-infos .line2 {
  font-size: 1rem;
  font-family: "DINPro";
  font-weight: 300;
}

.main-infos .line3 {
  font-size: 5rem;
  font-family: "DINPro";
  font-weight: 300;
}
