.global-background {
  padding: 99px 0 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 760px) {
  .global-background {
    padding-top: 90px;
  }
}

// Tablette
@media screen and (min-width: 761px) and (max-width: 1080px) {
  .global-background {
    padding-top: 90px;
  }
}
