.projects-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.projects-title {
  border-top: 2px solid black; /* Épaisseur et couleur du trait */
  font-size: 32px;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
