.test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  background-color: aqua;
  width: 100vw; /* 100% de la largeur de la fenêtre */
  height: 100vh; /* 100% de la hauteur de la fenêtre */
}

.box {
  display: flex;
  height: 40px;
  width: 40px;
  background-color: greenyellow;
  height: auto; /* Permet d'adapter sa hauteur au contenu */
  height: auto; /* Permet d'adapter sa hauteur au contenu */
}
