@charset "UTF-8";
.footer-container {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row; /* Les éléments sont alignés horizontalement */
  align-items: center;
  justify-content: space-between; /* Centre les enfants horizontalement */
  width: 100%;
  position: relative; /* Nécessaire pour le centrage absolu */
  margin-top: 5rem;
  padding-top: 1rem;
  border-top: 0.5px solid #ddd; /* Ligne fine au-dessus du footer */
}

.left-paragraph {
  font-family: "DinPro";
  width: 15rem;
  align-self: flex-start; /* Aligne le paragraphe en haut de sa div parente */
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  border-left: 1px solid #ddd; /* Ligne verticale entre les colonnes */
}

.left-paragraph p {
  margin: 0;
}

.left-paragraph p:nth-child(2) {
  margin-top: 1rem; /* Ajoute une marge uniquement au deuxième <p> */
}

.ordre {
  display: flex; /* Garde le contenu aligné verticalement */
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.ordre img {
  width: 200px;
  height: auto;
}

.center-paragraph {
  font-family: "DINPro";
  align-self: flex-start; /* Aligne le paragraphe en haut de sa div parente */
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-left: 1px solid #ddd; /* Ligne verticale entre les colonnes */
}

.center-paragraph p {
  margin: 0;
}

.center-paragraph p:not(:last-child) {
  margin-bottom: 1.5rem; /* Ajoute une marge seulement entre les paragraphes */
}

.chevron {
  display: flex;
  cursor: pointer;
  align-items: center; /* Centre le contenu dans le chevron */
  justify-content: center;
  margin: 1rem;
  margin-top: 2rem;
  transition: transform 0.3s ease-in-out; /* Transition fluide pour d'autres changements */
}

.chevron:hover {
  animation: shakeY 1s ease-in-out; /* Applique l'animation verticale au survol */
}

@keyframes shakeY {
  0%, 100% {
    transform: translateY(0); /* Position initiale */
  }
  25% {
    transform: translateY(-5px); /* Déplace légèrement vers le haut */
  }
  50% {
    transform: translateY(5px); /* Déplace légèrement vers le bas */
  }
  75% {
    transform: translateY(-5px); /* Retourne légèrement vers le haut */
  }
}
.chevron img {
  height: 40px;
  width: auto;
}

.right-paragraph {
  font-family: "DINPro";
  width: 15rem;
  display: flex;
  border-left: 1px solid #ddd; /* Ligne verticale entre les colonnes */
  align-self: flex-start; /* Aligne le paragraphe en haut de sa div parente */
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  margin-right: 2rem;
  padding: 1rem;
}

.right-paragraph p {
  margin: 0;
}

.right-paragraph p:not(:last-child) {
  margin-bottom: 1.2rem; /* Ajoute une marge seulement entre les paragraphes */
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  margin: 1rem;
  outline: none; /* Supprime le contour bleu au clic/focus */
  border-radius: 50%;
  background: transparent;
  border: 1.5px solid #000000;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease;
}

.icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.icon i {
  font-size: 20px; /* Taille de l'icône */
  font-weight: 500;
  color: black; /* Couleur initiale */
  transition: color 0.3s ease;
}

/* Ajout de la bande de remplissage */
.icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgb(0, 0, 0);
  transition: width 0.4s ease-in-out;
  z-index: 0;
}

/* Effet au survol */
.icon:hover {
  cursor: pointer;
  animation: shakeY 1s ease-in-out; /* Applique l'animation verticale au survol */

}

.icon:hover::before {
  width: 100%; /* La bande se remplit au survol */
}

.icon:hover i {
  color: white; /* Change la couleur de l'icône en blanc pour contraste */
}
