@import "./assets/styles/main.css";
@import 'aos/dist/aos.css';

html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .App {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh; /* Au moins la hauteur de la fenêtre */
// }

// .App > *:not(footer) {
//   flex: 1; /* La place restante se répartit sur la zone de contenu */
// }
