@charset "UTF-8";
.header-container {
  background-color: #ffffff;
  font-size: 18px;
  display: flex; /* Utilisation de Flexbox */
  flex-direction: row;
  align-items: center; /* Centre verticalement les enfants */
  justify-content: space-between; /* Espace entre le logo et le menu */
  height: auto;
  align-items: center;
  margin-right: 2rem;
  width: 100%;
  padding: 10px 0px; /* Ajoute un peu de marge interne */
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  box-sizing: border-box; /* Inclut le padding dans la largeur */
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1); /* Ombre uniquement vers le bas */
}

.header-logo {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: right;
}

.header-logo h1 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 0;
}

.header-logo h2 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 0;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-right: 2rem;
}

.header-nav-list {
  list-style: none; /* Supprime les puces */
  display: flex; /* Organise en ligne */
  gap: 1.5rem; /* Espacement entre les éléments */
  padding: 0;
  margin: 0;
}

.header-nav-list li {
  position: relative; /* Nécessaire pour le positionnement absolu des ::before et ::after */
}

.header-nav-list span {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative; /* Nécessaire pour les effets */
  display: inline-block; /* Permet à ::before et ::after de fonctionner correctement */
}

.header-nav-list span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; /* Commence à gauche */
  width: 0; /* Ligne invisible à l'état initial */
  height: 2px; /* Épaisseur de la ligne */
  background-color: rgba(0, 0, 0, 0.7254901961); /* Couleur de la ligne */
  transition: width 0.4s ease; /* Animation fluide sur la largeur */
}

.header-nav-list span:hover::before {
  width: 100%; /* Étendre la ligne de gauche à droite */
}

.header-nav-list span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0; /* Commence à droite */
  width: 0; /* Ligne invisible à l'état initial */
  height: 2px; /* Épaisseur de la ligne */
  background-color: rgba(0, 0, 0, 0.7254901961); /* Couleur de la ligne */
  transition: width 0.4s ease; /* Animation fluide sur la largeur */
}

.header-nav-list span:hover::after {
  width: 100%; /* Étendre la ligne de droite à gauche */
  left: 0;
}

.header-header-container.show {
  transform: translateY(0); /* Header visible */
}

/* Disparition */
.header-header-container.hide {
  transform: translateY(-100%); /* Header caché vers le haut */
}

.header-hamburger-menu {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .header-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: 150px;
    padding: 1rem;
  }
  .header-content.mobile-open {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    margin-right: 0;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1); /* Ombre uniquement vers le bas */
  }
  .header-content.mobile-open .header-nav-list {
    list-style: none; /* Supprime les puces */
    display: flex;
    flex-direction: column;
  }
  .header-hamburger-menu {
    display: block;
    color: rgb(0, 0, 0);
    margin-right: 2rem;
  }
}/*# sourceMappingURL=Header.css.map */