.header-container {
  background-color: #ffffff;
  font-size: 18px;
  display: flex; /* Utilisation de Flexbox */
  flex-direction: row;
  align-items: center; /* Centre verticalement les enfants */
  justify-content: space-between; /* Espace entre le logo et le menu */
  align-items: center;
  height: auto;
  width: 100%;
  padding: 10px 20px; /* Ajoute un peu de marge interne */
  z-index: 100;
  box-sizing: border-box; /* Inclut le padding dans la largeur */
  }

  .logo {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: right;
  }

  .logo h1{
    font-family: 'DIN Pro Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 0;
  }

  .logo h2{
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
  }

  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .header-content h1 {
    color: rgb(0, 0, 0);
    margin: 10px 25px;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
  }

  .header-content h1:hover {
    text-decoration: underline;
    cursor: pointer;
  }
