.header-container {
  background-color: #ffffff;
  font-size: 18px;
  display: flex; /* Utilisation de Flexbox */
  flex-direction: row;
  align-items: center; /* Centre verticalement les enfants */
  justify-content: space-between; /* Espace entre le logo et le menu */
  align-items: center;
  height: auto;
  width: 100%;
  padding: 10px 20px; /* Ajoute un peu de marge interne */
  z-index: 100;
  box-sizing: border-box; /* Inclut le padding dans la largeur */
  }

  .logo {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: right;
  }

  .logo h1{
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 0;
  }

  .logo h2{
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
  }

  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .header-content h1 {
    position: relative; /* Nécessaire pour le positionnement absolu de ::before */
    color: rgb(0, 0, 0);
    margin: 10px 25px;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;

  }

  .header-content h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px; /* Épaisseur de la ligne */
    background-color: #000000b9; /* Couleur de la ligne */
    transition: width 0.4s ease, left 0.4s ease;
    cursor: pointer;
  }

  .header-content h1:hover::before {
    width: 100%; /* Étendre la ligne de gauche à droite */
    transition: width 0.4s ease; /* Garde la transition fluide */
  }

  .header-content h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0; /* Commence à droite */
    width: 0; /* Ligne invisible à l'état initial */
    height: 2px; /* Épaisseur de la ligne */
    background-color: #000000b9; /* Couleur de la ligne */
    transition: width 0.4s ease; /* Animation uniquement sur la largeur */
  }

  .header-content h1:hover::after {
    width: 100%; /* Étendre la ligne de droite à gauche */
    left: 0;
    transition: width 0.4s ease; /* Garde la transition fluide */
  }
