@import "./fonts";

body {
  font-family: 'DIN Pro', sans-serif;
  color: #333;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: #333; /* Couleur légèrement adoucie */
}

li {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: #333; /* Couleur légèrement adoucie */
}

.title {
  font-size: 2rem;
  font-weight: 700;
  border-top: 2px solid black;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.sub-2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.sub-3 {
  font-size: 1rem;
  font-weight: 500;
}


@media screen and (max-width: 760px) {
  .title {
    font-size: 1.5rem;
    font-weight: 700;
    border-top: 2px solid black;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
