@charset "UTF-8";
/*1 normal */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/1DINPro-Regular.woff2") format("woff2"), url("../../assets/fonts/otf/1DINPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* 2 black */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/2DINPro-Black.woff2") format("woff2"), url("../../assets/fonts/otf/2DINPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
/* 3 black-italic */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/3DINPro-BlackItalic.woff2") format("woff2"), url("../../assets/fonts/otf/3DINPro-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
/* 4 bold */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/4DINPro-Bold.woff2") format("woff2"), url("../../assets/fonts/otf/4DINPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
/* 5 bold italic */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/5DINPro-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/otf/5DINPro-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
/* 6 condensed-regular */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/6DINPro-CondensedRegular.woff2") format("woff2"), url("../../assets/fonts/otf/6DINPro-CondensedRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
}
/* 7 condensed black */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/7DINPro-CondBlack.woff2") format("woff2"), url("../../assets/fonts/otf/7DINPro-CondBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-stretch: condensed;
}
/* 8 condensed black italic */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/8DINPro-CondBlackIta.woff2") format("woff2"), url("../../assets/fonts/otf/8DINPro-CondBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-stretch: condensed;
}
/* 9 condensed bold */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/9DINPro-CondBold.woff2") format("woff2"), url("../../assets/fonts/otf/9DINPro-CondBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
}
/* 10 condensed bold italic */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/10DINPro-CondBoldIta.woff2") format("woff2"), url("../../assets/fonts/otf/10DINPro-CondBoldIta.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
}
/* 11 condensed italic*/
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/11DINPro-CondIta.woff2") format("woff2"), url("../../assets/fonts/otf/11DINPro-CondIta.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-stretch: condensed;
}
/* 12 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/12DINPro-CondLight.woff2") format("woff2"), url("../../assets/fonts/otf/12DINPro-CondLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
}
/* 13 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/13DINPro-CondLightIta.woff2") format("woff2"), url("../../assets/fonts/otf/13DINPro-CondLightIta.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-stretch: condensed;
}
/* 14 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/14DINPro-CondMediIta.woff2") format("woff2"), url("../../assets/fonts/otf/14DINPro-CondMediIta.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-stretch: condensed;
}
/* 15 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/15DINPro-CondMedium.woff2") format("woff2"), url("../../assets/fonts/otf/15DINPro-CondMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: condensed;
}
/* 16 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/16DINPro-Italic.woff2") format("woff2"), url("../../assets/fonts/otf/16DINPro-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
/* 17 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/17DINPro-Light.woff2") format("woff2"), url("../../assets/fonts/otf/17DINPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
/* 18 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/18DINPro-LightItalic.woff2") format("woff2"), url("../../assets/fonts/otf/18DINPro-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
/* 19 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/19DINPro-Medium.woff2") format("woff2"), url("../../assets/fonts/otf/19DINPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
/* 20 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/20DINPro-MediumItalic.woff2") format("woff2"), url("../../assets/fonts/otf/20DINPro-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
/*1 normal */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/1DINPro-Regular.woff2") format("woff2"), url("../../assets/fonts/otf/1DINPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* 2 black */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/2DINPro-Black.woff2") format("woff2"), url("../../assets/fonts/otf/2DINPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
/* 3 black-italic */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/3DINPro-BlackItalic.woff2") format("woff2"), url("../../assets/fonts/otf/3DINPro-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
/* 4 bold */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/4DINPro-Bold.woff2") format("woff2"), url("../../assets/fonts/otf/4DINPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
/* 5 bold italic */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/5DINPro-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/otf/5DINPro-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
/* 6 condensed-regular */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/6DINPro-CondensedRegular.woff2") format("woff2"), url("../../assets/fonts/otf/6DINPro-CondensedRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
}
/* 7 condensed black */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/7DINPro-CondBlack.woff2") format("woff2"), url("../../assets/fonts/otf/7DINPro-CondBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-stretch: condensed;
}
/* 8 condensed black italic */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/8DINPro-CondBlackIta.woff2") format("woff2"), url("../../assets/fonts/otf/8DINPro-CondBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-stretch: condensed;
}
/* 9 condensed bold */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/9DINPro-CondBold.woff2") format("woff2"), url("../../assets/fonts/otf/9DINPro-CondBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
}
/* 10 condensed bold italic */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/10DINPro-CondBoldIta.woff2") format("woff2"), url("../../assets/fonts/otf/10DINPro-CondBoldIta.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
}
/* 11 condensed italic*/
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/11DINPro-CondIta.woff2") format("woff2"), url("../../assets/fonts/otf/11DINPro-CondIta.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-stretch: condensed;
}
/* 12 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/12DINPro-CondLight.woff2") format("woff2"), url("../../assets/fonts/otf/12DINPro-CondLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
}
/* 13 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/13DINPro-CondLightIta.woff2") format("woff2"), url("../../assets/fonts/otf/13DINPro-CondLightIta.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-stretch: condensed;
}
/* 14 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/14DINPro-CondMediIta.woff2") format("woff2"), url("../../assets/fonts/otf/14DINPro-CondMediIta.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-stretch: condensed;
}
/* 15 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/15DINPro-CondMedium.woff2") format("woff2"), url("../../assets/fonts/otf/15DINPro-CondMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: condensed;
}
/* 16 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/16DINPro-Italic.woff2") format("woff2"), url("../../assets/fonts/otf/16DINPro-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
/* 17 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/17DINPro-Light.woff2") format("woff2"), url("../../assets/fonts/otf/17DINPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
/* 18 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/18DINPro-LightItalic.woff2") format("woff2"), url("../../assets/fonts/otf/18DINPro-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
/* 19 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/19DINPro-Medium.woff2") format("woff2"), url("../../assets/fonts/otf/19DINPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
/* 20 */
@font-face {
  font-family: "DINpro";
  src: url("../../assets/fonts/woff2/20DINPro-MediumItalic.woff2") format("woff2"), url("../../assets/fonts/otf/20DINPro-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
body {
  font-family: "DIN Pro", sans-serif;
}

h1 {
  color: #333;
}

h2 {
  color: #333;
}

h3 {
  color: #333;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: #333; /* Couleur légèrement adoucie */
}

.title {
  font-size: 2rem;
  font-weight: 700;
  border-top: 2px solid black;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */