.news-container {
  padding: 0 2rem;
  box-sizing: border-box;
}

.news-secContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  justify-content: center;
  box-sizing: border-box;
  gap: 1.5rem;

  .news-singleNew {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    &:nth-child(4) {
      grid-column: span 2; /* S'étend sur 2 colonnes */
      grid-row: span 2; /* S'étend sur 2 lignes */
    }

    &:nth-child(5) {
      grid-row: span 2; /* S'étend sur 2 colonnes */
    }

    .news-imageDiv {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      cursor: pointer;

      /* Voile gris */
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: rgba(12, 12, 12, 0.6); // Alternative au radial
        background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.8) 100%);
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1;
      }

      /* Contenu texte */
      .news-hoverContent {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, 200px);
        opacity: 0;
        transition: transform 0.5s ease-out, opacity 0.25s ease-out;
        z-index: 2;
      }

      .hoverContent-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      .hoverContent-container h2 {
        display: flex;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        color: #fff;
      }

      .hoverContent-container p {
        padding: 0;
        margin: 0;
        color: #fff;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }

        &::before {
          opacity: 1;
          transition: opacity 0.5s ease;
        }

        .news-hoverContent {
          opacity: 1;
          transform: translate(-50%, -20%);
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .news-secContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
  }

  .news-singleNew {
    width: 100%;
    max-width: 400px;
  }

  .news-imageDiv {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }

  .news-singleNew:nth-child(n + 4) {
    display: none; /* Masque les images à partir de la 4ème */
  }

  .news-imageDiv:active {
    img {
      transform: scale(1.1);
    }

    &::before {
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    .news-hoverContent {
      opacity: 1;
      transform: translate(-50%, -20%);
    }
  }

}
